
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    position: absolute;
  border-bottom: 10px solid #a9aa95;
  }

  footer {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 0;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  border-top: 10px solid #a9aa95;
  }
  
  /* Change font size of headings */
  h1 {
    font-size: 200%;
    display: inline-flex;
 border: 2px solid #fff;
  background-color: #a9aa95;
  color: #13293d;
  font-weight: bold;
  padding: 10px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 20px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
a {
 display: inline-flex;
 border: 2px solid #fff;
  background-color: #a9aa95;
  color: #13293d;
  font-weight: bold;
  padding: 10px;
  margin: 3px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 20px;
}
nav a:hover {
    background-color: #7fc2c8;
    color: #fff;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
    margin-top: 13%;
  }
  
  #biography {
    text-decoration: underline;
  }

  #web-applications {
    text-decoration: underline;
    margin-right: 20px;
  }

  #contact {
    text-decoration: underline;
  }

  section {
    display: flex;
    flex: 1 1 0;
    padding: 5%;
    margin: 2%;
    border: 10px solid #a9aa95;
    background-color: #7fc2c8;
    border-radius: 20px;
  }
  
  article {
    border-bottom: 1px solid #d8a47f;
  }
  
  article p {
    margin: 2% 0;
    font-size: 110%;
  }
  
  app-box {
    display:flex;
    flex-direction: row;
    flex: wrap;
    Justify-content: space-between;
    align-content: stretch;
    border-radius: 20px;
  }

  .card {
    display: column;
    border: 2px solid #fff;
  background-color: #a9aa95;
  color: #13293d;
  font-weight: bold;
  padding: 10px;
  margin: 3px;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 20px;
  }

  .card a:hover {
    background-color: #7fc2c8;
    color: #fff;
  }

  #cardtitle {
    text-decoration: none;
    text-align: center;
    flex-basis: auto;
  }

  img {
    margin: 5px;
    width: 300px;
  height: 300px;
  border-radius: 20px;
  }

  #me {
    border: 2px solid #fff;
    margin-left: 145px;
    margin-top: 15px;
    width: 100px;
  height: 100px;
  }
  